.header-box {
  background-color: #008080;
  color: white;
  font-size: 22px;
  text-align: center;
  padding: 12px;
  border-radius: 15px;
  margin: 20px;
}

.medical-history-container {
  display: flex;
  font-family: sans-serif;
  background-color: #f0fbfa;
  padding: 20px;
  gap: 20px;
}

/* Left Panel */
.left-panel {
  width: 30%;
  text-align: center;
  border-right: 2px solid #ccc;
  padding-right: 20px;
}

.user-photo {
  width: 180px;
  height: 200px;
  object-fit: cover;
  border-radius: 10px;
  margin-bottom: 12px;
}

.user-info {
  font-weight: bold;
  font-size: 16px;
  color: #333;
}

/* Right Section */
.right-section {
  width: 70%;
  padding-left: 20px;
}

.history-table {
  width: 100%;
  border-collapse: collapse;
  font-size: 15px;
}

.history-table th,
.history-table td {
  border: 1px solid #ccc;
  padding: 12px;
  text-align: left;
}

.history-table thead {
  background-color: #006d77;
  color: white;
}

.history-table tbody tr:nth-child(even) {
  background-color: #dff5f4;
}

.history-table tbody tr:nth-child(odd) {
  background-color: #c7eae9;
}

.pdf-icon {
  color: #d32f2f;
  font-size: 22px;
}
